<!-- <app-dynamic-content-view type="one" [data]="data"></app-dynamic-content-view> -->

<!-- <app-dynamic-content-view type="two"></app-dynamic-content-view>

<app-dynamic-content-view type="one"></app-dynamic-content-view> -->

<!-- <app-table type="table-row" [data]="data" [tableDefinition]="tableDefinition"></app-table> -->

<app-dynamic-content-view type="table" [data]="data" [config]="tableDefinition"></app-dynamic-content-view>


<!-- <app-mt940></app-mt940> -->



<table>
    <tr class="component-style table-row-component" *ngFor="let ch of characters | async" app-table-row [character]="ch" [columns]="columns"></tr>
</table>

<app-wrapper></app-wrapper>

<app-style-test-parent></app-style-test-parent>


<div style="margin: 2rem;">
    <tui-table></tui-table>
</div>
