.pancake-wrapper {
    height: 100%;
    display: grid;
    grid-template-rows: auto 1fr auto;
}


.footer {
    height: 3rem;
    background-color: skyblue;
}

.header {
    height: 3rem;
    background-color: skyblue;
}