<div class="pancake-wrapper">
    <div class="header">
        Header
    </div>
    <div>
        <!-- <app-dynamic-content-view type="one" [data]="data"></app-dynamic-content-view> -->

        <!-- <app-dynamic-content-view type="two"></app-dynamic-content-view>

<app-dynamic-content-view type="one"></app-dynamic-content-view> -->

        <!-- <app-table type="table-row" [data]="data" [tableDefinition]="tableDefinition"></app-table> -->
        <button (click)="openDialog()">Open custom dialog</button>

        <app-dynamic-content-view type="table" [data]="data" [config]="tableDefinition"></app-dynamic-content-view>


        <!-- <app-mt940></app-mt940> -->



        <table>
            <tr class="component-style table-row-component" *ngFor="let ch of characters | async" app-table-row
                [character]="ch" [columns]="columns"></tr>
        </table>

        <app-wrapper></app-wrapper>

        <app-style-test-parent></app-style-test-parent>


        <!-- <tui-table></tui-table> -->

        <!-- This button triggers the overlay and is it's origin -->
<button class="ml-10" (click)="isOpen = !isOpen" type="button" cdkOverlayOrigin #trigger="cdkOverlayOrigin">
    {{isOpen ? "Close" : "Open"}}
  </button>
  
  <!-- This template displays the overlay content and is connected to the button -->
  <ng-template
    cdkConnectedOverlay
    [cdkConnectedOverlayOrigin]="trigger"
    [cdkConnectedOverlayOpen]="isOpen"
    
  >
    <ul class="example-list">
      <li>Item 1</li>
      <li>Item 2</li>
      <li>Item 3</li>
    </ul>
  </ng-template>

  

    </div>
    <div class="footer">
        Footer
    </div>
</div>