<div class="table-container">
  <div class="tui-table">
    <ng-container *ngFor="let col of cols;index as i">
      <div class="col table-row-header" [class.table-col-header]="i==0" > {{col}}
        <span class="col-seperator"></span>
      </div>
    </ng-container>

    <ng-container *ngFor="let item of data;index as rowIndex">
      <ng-container *ngFor="let col of cols;index as i">
        <span class="col" [class.table-col-header]="i==0"> {{item[col]}} </span>
      </ng-container>
    </ng-container>
  </div>
</div>  