:host {
  --no-of-columns: 19;
  --col-header-first-child-width: 15rem;
  --col-header-second-child-width: auto;
}

.tui-table {
  display: grid;
  position: relative;
  grid-template-columns: repeat(var(--no-of-columns), auto);
  width: min-content;
}

.table-container{
  position: relative;
  overflow: auto;
  height: 100%;
}



.tui-table .col {
  white-space: nowrap;
  padding-left: .25rem;
  padding-right: .25rem;
}

.tui-table .table-col-header {
  position: sticky;
  left: 0;
  background-color: white;
  padding: 0.5rem;
  width: 100%;
  display: flex;
  justify-items: start;
}

.tui-table .table-row-header {
  background-color: #EFEFEF;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  padding: 0.5rem;
  width: 100%;

  z-index: 10;
  display: flex;
  justify-content: space-between;

  gap: .5rem;
}


.tui-table .table-col-header:nth-child(n + 1) {
  width: var(--col-header-first-child-width);
  background-color: white;
  z-index: 20;
}

.tui-table .table-col-header:first-child {
  z-index: 30;
  background-color: #EFEFEF;
}


/* .tui-table .table-col-header:nth-child(3n + 2) {
  left: var(--col-header-first-child-width);
  background-color: green;
} */



.col-seperator {
  background-color: #B9B9B9;
  padding: 0.05rem;
  cursor: col-resize;
}

