/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

*,*::after,*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.person-row {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap:1rem;
    background-color: blueviolet;
}

.address-row {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap:1rem;
    background-color: cadetblue;
}

.table {
    display: flex;
    flex-direction: column;
}

button {
    outline: none;
    border: none;
}